<!-- <ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <p>
    This is a app built with Ionic 4 and the
    <a href="https://way2recycle.herokuapp.com">Ways2Recycle API</a>
  </p>

  <!-- <h1>{{ myNewJSON.name }}</h1>
  <img [src]="myNewJSON.safeImagePath" />

  <h1>{{ my_new_JSON_arr[0].name }}</h1>
  <img [src]="my_new_JSON_arr[0].safeImagePath" />
  <h1>{{ my_new_JSON_arr[1].name }}</h1>
  <img [src]="my_new_JSON_arr[1].safeImagePath" />-->
  <p>
    Way2Recycle serves people’s daily needs to exchange second-hand goods. At
    Way2Recycle, users can post, browse, search, edit, delete items, with
    uploaded pictures and visualized geographical locations. First-time visitors
    can choose between registering a new account and signing in through Google
    two-step authentication. Through this easy-to-use platform, Way2Recycle
    provides a standard RESTful API for future developers to extend our services
    in future.
  </p>

  <ion-button ion-button fill="outline" routerLink="/home" large expand="block"
    >GoBack</ion-button
  >
</ion-content>
