<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Way2Recycle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welcome to staff exchange App</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Enjoy your saving from Way2Recycle today.
      </p>
      <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let article of new_articles">
    <!-- <ion-img src="{{ article.urlToImage }}"></ion-img> -->

    <img [src]="article.safeImagePath" />

    <ion-card-header>
      <ion-card-subtitle>Title: {{ article.title }}</ion-card-subtitle>
      <ion-card-subtitle>Price: {{ article.price }}</ion-card-subtitle>
      <ion-card-subtitle>Type: {{ article.category }}</ion-card-subtitle>
      <ion-card-subtitle>Location: {{ article.location }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- <p>
        {{ article.description }}
      </p> -->
      <p>Updated at: {{ article.published_date }}</p>
      <ion-button
        ion-button
        fill="outline"
        routerLink="/detail/{{ article.id }}"
        large
        >Read full item</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>

<!-- <ion-button ion-button fill="outline" routerLink="/about" large
  >Go to About</ion-button
> -->
